.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.panel-container {
  margin: auto;
  font-size: 130%;
}

.error-panel {
  padding: 12px;
  border-radius: 4px;
  display: flex;
  background: var(--error_red);
  box-shadow: 0 0 15px var(--shadow_dark);
  margin: auto;
  margin-top: -50px;
  text-align: center;
}

.search-bar > form {
  padding: 12px;
  border-radius: 4px;
  display: flex;
  background: var(--darkest_grey);
  box-shadow: 0 0 15px var(--shadow_dark);
  margin: auto;
  margin-top: -50px;

  & button {
    background: var(--bg_elements);
    color: var(--fg_color);
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    width: 30px;
    height: 30px;
    padding: 0px 5px 1px 8px;
  }

  & input {
    font-size: 16px;
    width: 100%;
    background: var(--bg_elements);
    color: var(--fg_color);
    border: 0;
    border-radius: 4px;
    padding: 4px;
    margin-right: 8px;
    height: unset;
  }
}
